.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
  min-width: 220px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }
  }
}